*.class

# Package Files #
*.jar
*.war
*.ear

out
.idea/
-Engine/src/main/resources/
Engine/target/classes/
Engine/target/generated-sources/
Engine/target/generated-test-sources/
Engine/target/test-classes/
